:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color-scheme: light dark;
  --text-color: #000000;
  --background-color: #ffffff;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --font-smoothing-webkit: antialiased;
  --font-smoothing-moz: grayscale;

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  color-scheme: var(--color-scheme);
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--font-smoothing-moz);
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #000000;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s ease, background-color 0.25s ease;
}

button:hover {
  border-color: #000000;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000000;
    --background-color: #ffffff;
  }

  a:hover {
    color: #000000;
  }

  button {
    background-color: #ffffff;
    color: #000000;
  }
}
